.aboutCardContent {
  display: flex;
  gap: var(--padding-lg);
  align-items: center;
}

.logo {
  max-width: 300px;
}

@media (max-width: 768px) {
  .aboutCardContent {
    flex-direction: column;
  }
}
