:root {
  --headerHeight: 60px;
  --padding-content: 32px;
  --primary-color-rgb: 217, 217, 217;
  --secondary-color: 51, 60, 83;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body,html {
  display: grid;
}

a {
  color: inherit;
  text-decoration: none;
}
