.header {
  background-color: rgb(var(--primary-color-rgb));
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 1120px) {
  .header {
    flex-direction: column;
    height: 100%;
    padding: 1rem 0px;
  }
}
