.imageGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  column-gap: var(--padding-md);
}

@media (max-width: 768px) {
  .imageGrid {
    grid-template-columns: 1fr;
    row-gap: var(--padding-lg);
  }
}
