.socialMediaContainer {
  width: calc(100% - 2 * var(--padding-content));
  position: fixed;
  bottom: var(--padding-content);
  z-index: 1;
  color: white;
  display: flex;
  justify-content: flex-end;
  margin-top: var(--padding-content);
}

.socialMediaCard {
  width: max-content;
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.logoContainer {
  display: flex;
  column-gap: 1rem;
}

@media (max-width: 1120px) {
  .socialMediaContainer {
    position: relative;
    width: 100%;
  }
  
  .socialMediaCard {
    margin-top: var(--padding-content);
    width: 100%;
  }
}
