.socialMediaCard {
  position: fixed;
  bottom: var(--padding-content);
  right: var(--padding-content);
  z-index: 1;
  display: flex;
  column-gap: 1rem;
  align-items: center;
  color: white;
}

.logoContainer {
  display: flex;
  column-gap: 1rem;
}
