.headerLink {
  padding: 4px 8px;
  border-bottom: 4px solid transparent;
  transition: border-color 0.2s;
}

.headerLink:hover {
  border-bottom: 4px solid rgb(var(--secondary-color));
  color: rgb(var(--on-1));
}

.activeLink {
  border-bottom: 4px solid rgb(var(--secondary-color));
}
