.pageContent {
  position: relative;
  min-height: calc(100vh - var(--headerHeight));
}

.background {
  height: 100%;
  background-image: url("/fondo.jpg");
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 100%;
  opacity: 0.75;
  z-index: -1;
}

.content {
  padding: 2rem;
}
