.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--padding-lg);
  border-radius: 16px;
  background-color: rgba(var(--primary-color-rgb), 0.5);
  padding: 32px;
  width: 100%;
  max-width: var(--breakpoint);
}
