.register {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

.register p {
  text-align: justify;
}

.cardForm {
  max-height: min-content;
}

.cardImages {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.image {
  width: 100%;
}

@media (max-width: 1120px) {
  .register {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
}
